.containerNew{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  @media(max-width:1330px){
    .containerNew{
      padding: 20px;
    }
  }
  @media(max-width:492px){
    .containerNew{
      padding: 10px;
    }
  }