.videoCanvas{
    border-radius: 20px;
    margin-right: 20px;
}
.buttonClick{

}
@media (max-width:1000px){
    video,canvas{
        width:100%;
    }
    .videoCanvas{
        margin-right: 0px;
    }
    .buttonContainer{
        margin-bottom: 30px;
    }
}